<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact List Manager</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.4/axios.min.js"
      integrity="sha512-ANd7ZJmixP2T0hxOP4bS6hkci01fxyrQSyRdaY7IsWq1WlKsD0WwWBDVDZbnMR7CJZVKCTkDx/q5D5n2C2C+vg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
<link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app">
      <div v-if="loggedInAs">
        <header>
          <h1>Contact List Manager</h1>
        </header>

        <div id="contact-form">
          <h2>
            <span v-if="newContact._id">Edit</span>
            <span v-else>New</span>
             Contact</h2>
          Welcome : {{loggedInAs}}
          <br /><br />
          <form @submit.prevent="addContact">
            <label for="name">Name:</label>
            <input v-model="newContact.name" type="text" id="name" required />
            <br />
            <label for="name">Email:</label>
            <input v-model="newContact.email" type="email" id="email" required/>
            <br />
            <label for="name">Mobile:</label>
            <input v-model="newContact.Mobile" type="text" id="Mobile" />
            <br />
            <label for="name">Facebook:</label>
            <input v-model="newContact.facebook" type="text" id="facebook" />
            <br />
            <label for="name">Twitter:</label>
            <input v-model="newContact.Twitter" type="text" id="Twitter" />
            <br />
            <label for="name">Instagram:</label>
            <input v-model="newContact.Instagram" type="text" id="Instagram" />
            <!-- <br />
            <label for="email">Email:</label>
            <input v-model="newContact.email" type="email" id="email"   required /> -->
            <br>
            <button v-if="newContact._id" type="submit">Edit Contact</button>
            <button v-else type="submit">Add Contact</button>
            <button @click="revert">Cancel</button>
          </form>
    
        </div>

        <div v-if="false" id="contact-list">
          <h2>Contact List</h2>
          <ul>
            <li v-for="(contact, index) in contacts" :key="index">
              Name: {{ contact.name }}
              <br />
              Email: {{ contact.email }}
              <br />
              Mobile: {{ contact.Mobile }}
              <br />
              Facebook: {{ contact.facebook }}
              <br />
              Twitter: {{ contact.Twitter }}
              <br />
              Instagram: {{ contact.Instagram }}

              <button @click="removeContact(index)">Remove</button>
            </li>
          </ul>
        </div>

        <label>Search:
        <input type="text" placeholder="Search here..." v-model="search">
</label>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Facebook</th>
              <th>Twitter</th>
              <th>Instagram</th>
              <th>Action</th>
            </tr>
          </thead>
          
          <tbody>
            <tr
              v-for="(contact, i) in filteredItems"
              :key="i">
              <td>
              {{ contact.name }}
              </td><td>
              {{ contact.email }}
            </td><td>
              {{ contact.Mobile }}
            </td><td>
              {{ contact.facebook }}
            </td><td>
              {{ contact.Twitter }}
            </td><td>
             {{ contact.Instagram }}
            </td><td>
              <button @click="removeContact(i)">Remove</button>
              <button @click="edit_contact_clicked(contact)">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>


      </div>
      <div v-else>
        <div>
          <h2>Register</h2>
          <form @submit.prevent="register">
            <label>Email:</label>
            <input v-model="register_form.email" type="email" required />
            <br />
            <label>Password:</label>
            <input v-model="register_form.password" type="password" required />
            <br />
            <button type="submit">Register</button>
          </form>
        </div>

        <div>
          <h2>Login</h2>
          <form @submit.prevent="login">
            <label>Email:</label>
            <input v-model="login_form.email" type="email" required />
            <br />
            <label>Password:</label>
            <input v-model="login_form.password" type="password" required />
            <br />
            <button type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>

    <script>
      const app = Vue.createApp({
        data() {
          return {
            // من هنا
            newContact: { _id:null, name: "", email: "",Mobile: "", facebook: "",Twitter: "",Instagram: "", owner: null },
            contacts: [],
            login_form: { email: "sami@sami.com", password: "123" },
            register_form: { email: "", password: "" },
            loggedInAs: null,

            // Searchable table
            search: '',

          };
        },
        methods: {
          addContact() {
            if(this.newContact._id) { // Edit
              axios.put("http://localhost:3001/contacts/"+this.newContact._id, this.newContact).then(r=> {
               revert();
                loadFromDB()
              })

            }else { // New
            if (this.newContact.name && this.newContact.email) {
              this.contacts.push({ ...this.newContact });
              axios.post("http://localhost:3001/contacts/", this.newContact);
              this.newContact.name = "";
              this.newContact.email = "";
            }
          }

          },
          revert() {
            this.newContact = { _id:null, name: "", email: "",Mobile: "", facebook: "",Twitter: "",Instagram: "", owner: null }

          },
          removeContact(index) {
            let id = this.contacts[index]._id;
            axios.delete("http://localhost:3001/contacts/" + id);

            this.contacts.splice(index, 1);
          },
          edit_contact_clicked(obj) {
            this.newContact = obj
          },
          loadFromDB() {
            axios("http://localhost:3001/contacts/" + this.loggedInAs).then(
              (r) => {
                this.contacts = r.data;
              }
            );
          },
          async login() {
            try {
              const response = await axios.post(
                "http://localhost:3001/api/login",
                {
                  email: this.login_form.email,
                  password: this.login_form.password,
                }
              );
              console.log(response.data);
              if (response.data.message) alert(response.data.message);
              if (response.data.error) alert(response.data.error);

              if (response.data.token) {
                this.loggedInAs = this.login_form.email;
                this.newContact.owner = this.loggedInAs;
                this.loadFromDB();
              }
              // Store the token in localStorage or Vuex for future requests
            } catch (error) {
              alert(error.response.data.error);
              console.error(error.response.data);
            }
          },
          async register() {
            try {
              const response = await axios.post(
                "http://localhost:3001/api/register",
                {
                  email: this.register_form.email,
                  password: this.register_form.password,
                }
              );
              console.log(response.data);
              if (response.data.message) alert(response.data.message);
              if (response.data.error) alert(response.data.error);
            } catch (error) {
              alert(error.response.data.error);
              console.error(error.response.data);
            }
          },
        },
        computed: {
    filteredItems () {
      return this.contacts.filter(item => {
         return item.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1 ||
         item.Mobile.toLowerCase().indexOf(this.search.toLowerCase()) > -1
      })
    }
  },
        mounted() {



        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
